services/frontend/node_modules
services/frontend/dist/!.keep
services/frontend/dist/*
services/backend/coverage
services/backend/cache
services/backend/log
services/backend/tmp

credentials.yml*
master.key
.DS_Store
*.swp
.env
._*
