<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hydra</title>
    <%= vite_stylesheet_tag :application %>
    <%= vite_client_tag %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="app"></div>
    <%= vite_javascript_tag :application %>
  </body>
</html>
